.page-container {
    padding-top: 50px;
    box-sizing: border-box;
    width: 100%;
  }
  

.pageHeader {
  margin-top: 40px;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  color: #1e3a5f; /* ✅ เพิ่มสีได้ */
  font-family: "Kanit", sans-serif; /* ✅ ใส่ฟอนต์ไทยสวย ๆ ได้ */
  letter-spacing: 1px; /* ✅ เพิ่ม spacing */
}

