@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700&display=swap');

.payment-page-container {
  font-family: 'Kanit', sans-serif !important;
}

.payment-page-container .ant-typography,
.payment-page-container .ant-card-head-title,
.payment-page-container .ant-card-body,
.payment-page-container .ant-input,
.payment-page-container .ant-select-selector,
.payment-page-container .ant-btn span,
.payment-page-container .ant-alert-message,
.payment-page-container .ant-alert-description,
.payment-page-container .ant-radio-wrapper span {
  font-family: 'Kanit', sans-serif !important;
}

.payment-page-container .ant-spin-text {
  font-family: 'Kanit', sans-serif;
}