.mypost-container {
  background: #fff;
  padding: 24px;
  min-height: 85vh;
}

.mypost-header {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 28px;
  font-weight: 600;
  color: #1e3a5f;
}

.mypost-card {
  margin-bottom: 16px;
  border-radius: 10px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.mypost-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mypost-info {
  flex: 1;
  padding-right: 20px;
  text-align: left;
}

.mypost-title {
  font-weight: 550;
  font-size: 32px;
  margin-left: 50px;
  text-align: left;
}

.mypost-company {
  margin: 0;
  color: #555;
  margin-left: 50px;
  text-align: left;
  font-size: 14px;
}

.mypost-detail {
  display: flex;
  gap: 20px;       /* ระยะห่างระหว่างแต่ละข้อมูล */
  flex-wrap: wrap; /* ถ้าจอกว้างไม่พอ ให้ขึ้นบรรทัดใหม่ */
  margin-left: 50px;
}

.mypost-detail p,
.mypost-detail span {
  margin: 0;
  color: #333;
  text-align: left;
}

.mypost-logo {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mypost-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* ขยายเต็มพื้นที่ ไม่บิด */
  border-radius: 6px;

}

/*  ปุ่มด้านล่าง (ลบ/แก้ไข/ดูรายชื่อ) */
.mypost-actions {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
