@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700&display=swap');

.review-page-container {
  font-family: 'Kanit', sans-serif !important;
}

.review-page-container .ant-typography,
.review-page-container .ant-card-body,
.review-page-container .ant-input,
.review-page-container .ant-btn span,
.review-page-container .ant-alert-message,
.review-page-container .ant-alert-description,
.review-page-container .ant-rate {
  font-family: 'Kanit', sans-serif !important;
}

.review-page-container .ant-spin-text {
  font-family: 'Kanit', sans-serif;
}